/Desktop-Tracker/logs
/Desktop-Tracker/*.log
/Desktop-Tracker/npm-debug.log*
/Desktop-Tracker/yarn-debug.log*
/Desktop-Tracker/yarn-error.log*
/Desktop-Tracker/lerna-debug.log*
/Desktop-Tracker/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/Desktop-Tracker/pids
/Desktop-Tracker/*.pid
/Desktop-Tracker/*.seed
/Desktop-Tracker/*.pid.lock
/Desktop-Tracker/lib-cov
/Desktop-Tracker/coverage
/Desktop-Tracker/*.lcov
/Desktop-Tracker/.nyc_output
/Desktop-Tracker/.grunt
/Desktop-Tracker/bower_components
/Desktop-Tracker/.lock-wscript
/Desktop-Tracker/build/Release
/Desktop-Tracker/node_modules/
/Desktop-Tracker/jspm_packages/
/Desktop-Tracker/web_modules/
/Desktop-Tracker/*.tsbuildinfo
/Desktop-Tracker/.npm
/Desktop-Tracker/.eslintcache
/Desktop-Tracker/.rpt2_cache/
/Desktop-Tracker/.rts2_cache_cjs/
/Desktop-Tracker/.rts2_cache_es/
/Desktop-Tracker/.rts2_cache_umd/
/Desktop-Tracker/.node_repl_history
/Desktop-Tracker/*.tgz
/Desktop-Tracker/.yarn-integrity
/Desktop-Tracker/.env
/Desktop-Tracker/.env.test
/Desktop-Tracker/.cache
/Desktop-Tracker/.parcel-cache
/Desktop-Tracker/.next
/Desktop-Tracker/out
/Desktop-Tracker/.nuxt
/Desktop-Tracker/dist
/Desktop-Tracker/.cache/
/Desktop-Tracker/.vuepress/dist
/Desktop-Tracker/.serverless/
/Desktop-Tracker/.fusebox/
/Desktop-Tracker/.dynamodb/
/Desktop-Tracker/.tern-port
/Desktop-Tracker/.vscode-test
/Desktop-Tracker/.yarn/cache
/Desktop-Tracker/.yarn/unplugged
/Desktop-Tracker/.yarn/build-state.yml
/Desktop-Tracker/.yarn/install-state.gz
/Desktop-Tracker/.pnp.*
/Frontend-Web/logs
/Frontend-Web/*.log
/Frontend-Web/npm-debug.log*
/Frontend-Web/yarn-debug.log*
/Frontend-Web/yarn-error.log*
/Frontend-Web/lerna-debug.log*
/Frontend-Web/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/Frontend-Web/pids
/Frontend-Web/*.pid
/Frontend-Web/*.seed
/Frontend-Web/*.pid.lock
/Frontend-Web/lib-cov
/Frontend-Web/coverage
/Frontend-Web/*.lcov
/Frontend-Web/.nyc_output
/Frontend-Web/.grunt
/Frontend-Web/bower_components
/Frontend-Web/.lock-wscript
/Frontend-Web/build/Release
/Frontend-Web/node_modules/
/Frontend-Web/jspm_packages/
/Frontend-Web/web_modules/
/Frontend-Web/*.tsbuildinfo
/Frontend-Web/.npm
/Frontend-Web/.eslintcache
/Frontend-Web/.rpt2_cache/
/Frontend-Web/.rts2_cache_cjs/
/Frontend-Web/.rts2_cache_es/
/Frontend-Web/.rts2_cache_umd/
/Frontend-Web/.node_repl_history
/Frontend-Web/*.tgz
/Frontend-Web/.yarn-integrity
/Frontend-Web/.env
/Frontend-Web/.env.test
/Frontend-Web/.cache
/Frontend-Web/.parcel-cache
/Frontend-Web/.next
/Frontend-Web/out
/Frontend-Web/.nuxt
/Frontend-Web/dist
/Frontend-Web/.cache/
/Frontend-Web/.vuepress/dist
/Frontend-Web/.serverless/
/Frontend-Web/.fusebox/
/Frontend-Web/.dynamodb/
/Frontend-Web/.tern-port
/Frontend-Web/.vscode-test
/Frontend-Web/.yarn/cache
/Frontend-Web/.yarn/unplugged
/Frontend-Web/.yarn/build-state.yml
/Frontend-Web/.yarn/install-state.gz
/Frontend-Web/.pnp.*

/Primary-API/logs
/Primary-API/*.log
/Primary-API/npm-debug.log*
/Primary-API/yarn-debug.log*
/Primary-API/yarn-error.log*
/Primary-API/lerna-debug.log*
/Primary-API/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/Primary-API/pids
/Primary-API/*.pid
/Primary-API/*.seed
/Primary-API/*.pid.lock
/Primary-API/lib-cov
/Primary-API/coverage
/Primary-API/*.lcov
/Primary-API/.nyc_output
/Primary-API/.grunt
/Primary-API/bower_components
/Primary-API/.lock-wscript
/Primary-API/build/Release
/Primary-API/node_modules/
/Primary-API/jspm_packages/
/Primary-API/web_modules/
/Primary-API/*.tsbuildinfo
/Primary-API/.npm
/Primary-API/.eslintcache
/Primary-API/.rpt2_cache/
/Primary-API/.rts2_cache_cjs/
/Primary-API/.rts2_cache_es/
/Primary-API/.rts2_cache_umd/
/Primary-API/.node_repl_history
/Primary-API/*.tgz
/Primary-API/.yarn-integrity
/Primary-API/.env
/Primary-API/.env.test
/Primary-API/.cache
/Primary-API/.parcel-cache
/Primary-API/.next
/Primary-API/out
/Primary-API/.nuxt
/Primary-API/dist
/Primary-API/.cache/
/Primary-API/.vuepress/dist
/Primary-API/.serverless/
/Primary-API/.fusebox/
/Primary-API/.dynamodb/
/Primary-API/.tern-port
/Primary-API/.vscode-test
/Primary-API/.yarn/cache
/Primary-API/.yarn/unplugged
/Primary-API/.yarn/build-state.yml
/Primary-API/.yarn/install-state.gz
/Primary-API/.pnp.*